html {
  font-family: 'Inter', -system-ui, system-ui, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  font-kerning: normal;
  -webkit-font-kerning: normal;
  -ms-font-kerning: normal;
  -moz-font-kerning: normal;
  -o-font-kerning: normal;

  font-variant-ligatures: contextual common-ligatures;
  -webkit-font-variant-ligatures: contextual common-ligatures;
  -ms-font-variant-ligatures: contextual common-ligatures;
  -moz-font-variant-ligatures: contextual common-ligatures;
  -o-font-variant-ligatures: contextual common-ligatures;

  /* required to work around letter-spacing bug in Chrome: */
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -system-ui, system-ui, sans-serif;
  }
}

body {
  background-color: var(--bg-color);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

nav {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

p + p {
  margin-top: 1em;
}

.credits {
  display: flex;
  justify-content: flex-end;
  font-size: rfs(0.75rem);
  margin: 1.25em 0;

  > a {
    color: var(--text-color);
    opacity: 0.9;
  }
}

.divider {
  margin: 2em 0;
}

.text {
  grid-column: 2 / span 4;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list > a {
  font-size: rfs(1.5rem);
  cursor: pointer;
  width: fit-content;
  color: var(--text-color);
}

h1 {
  font-size: rfs(2rem);
  color: var(--text-color);
}

.info {
  color: var(--text-color);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: background-color 0.1 ease-in-out;
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--unit);
}

.circle {
  cursor: pointer;
}

.projects {
  font-size: rfs(2rem);
  font-weight: 600;
  line-height: 1.246609;
  letter-spacing: -0.03em;

  > div > h2 > a {
    color: var(--projects-text-color) !important;
  }

  & p {
    color: var(--work-text-color);
  }
}

.work {
  color: var(--work-text-color);
  font-size: rfs(2.5rem);
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: -0.017em;
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--unit) * 4);
}

.cols-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--unit) * 6);
}

@media screen and (min-width: 48rem) {
  .cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62rem) {
  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
