html {
  font-family: var(--font-family-sans-serif);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  font-kerning: normal;
  -webkit-font-kerning: normal;
  -ms-font-kerning: normal;
  -moz-font-kerning: normal;
  -o-font-kerning: normal;

  font-variant-ligatures: contextual common-ligatures;
  -webkit-font-variant-ligatures: contextual common-ligatures;
  -ms-font-variant-ligatures: contextual common-ligatures;
  -moz-font-variant-ligatures: contextual common-ligatures;
  -o-font-variant-ligatures: contextual common-ligatures;

  /* required to work around letter-spacing bug in Chrome: */
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-family-sans-serif-var);
  }
}

body {
  background-color: var(--bg-color);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

nav {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

p + p {
  margin-top: 1em;
}

.credits {
  display: flex;
  justify-content: flex-end;
  font-size: rfs(0.75rem);
  margin: 1.25em 0;

  > a {
    color: var(--text-color);
    opacity: 0.9;
  }
}

.divider {
  margin: 2em 0;
}

.text {
  grid-column: 2 / span 4;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list > a,
.copy-box > a {
  font-size: rfs(1.5rem);
  cursor: pointer;
  width: fit-content;
  color: var(--text-color);
}

h1 {
  font-size: rfs(2rem);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.projects {
  font-size: rfs(2rem);
  font-weight: var(--font-weight-bold);
  line-height: 1.246609;
  letter-spacing: -0.03em;

  & * > a {
    color: var(--projects-text-color) !important;
  }

  & p {
    color: var(--color-primary-100);
  }
}

.work {
  color: var(--color-primary-100);
  font-size: rfs(2.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 1.27;
  letter-spacing: -0.017em;
}

.copy-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.clipboard {
  font-size: rfs(0.75rem);
  cursor: auto;
  transform: translateX(-1rem);
  opacity: 0;
  transition: var(--transition-swhoosh);

  &-active {
    font-size: rfs(0.75rem);
    color: var(--color-primary-200);
    cursor: auto;
    transform: translateY(0);
    opacity: 1;
  }
}
