.cols-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--unit) * 4);

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cols-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--unit) * 6);

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
}
