.container {
  max-width: 75rem;
  margin: auto;
  padding: rfs(2rem);

  @media screen and (min-width: 320px) {
    .container {
      margin: 8rem 5rem;
    }
  }
}

.tbd-section {
  position: relative;
  padding-top: rfs(6rem);
  padding-bottom: rfs(6rem);
}

.tbd-container {
  position: relative;
  max-width: 32rem;
  margin: 0 auto;
}

.tbd-wrapper {
  padding-left: var(--wrap-gap);
  padding-right: var(--wrap-gap);
}

@media md {
  :root {
    --wrap-gap: 3rem;
  }

  .tbd-wrapper {
    padding-left: var(--wrap-gap);
    padding-right: var(--wrap-gap);
  }
}

@media lg {
  :root {
    --wrap-gap: 4rem;
  }

  .tbd-wrapper {
    padding-left: var(--wrap-gap);
    padding-right: var(--wrap-gap);
  }
}

@media xl {
  :root {
    --wrap-gap: 6rem;
  }

  .tbd-wrapper {
    padding-left: var(--wrap-gap);
    padding-right: var(--wrap-gap);
  }
}
