.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: rfs(2rem);
}

.tbd-section {
  position: relative;
  padding-top: rfs(6rem);
  padding-bottom: rfs(6rem);
}

.tbd-container {
  position: relative;
  max-width: 32rem;
  margin: 0 auto;
}

.tbd-wrapper {
  padding-left: var(--wrap-gap);
  padding-right: var(--wrap-gap);
}
