:root {
  --grid-gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 var(--grid-gap);
}

@media screen and (min-width: 320px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 992px) {
  :root {
    --grid-gap: 2rem;
  }

  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
}
