:root {
  --grid-gap: 1rem;
}

.grid-base {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 var(--grid-gap);
}

@include sm {
  .grid-base {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include md {
  .grid-base {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include lg {
  :root {
    --grid-gap: 2rem;
  }

  .grid-base {
    grid-template-columns: repeat(8, 1fr);
  }
}

@include xl {
  .grid-base {
    grid-template-columns: repeat(12, 1fr);
  }
}
