$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

@mixin sm {
  @media (min-width: #{$breakpoints-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoints-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoints-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$breakpoints-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$breakpoints-xxl}) {
    @content;
  }
}
