:root {
  --bg-color: #050402;
  --text-color: #faad00;
  --work-text-color: #ffffff;
  --projects-text-color: #e44a66;
  --unit: 1rem;
  --wrap-gap: 2rem;
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
