:root {
  --font-family-sans-serif: 'Inter', -system-ui, system-ui, sans-serif;
  --font-family-sans-serif-var: 'Inter var', -system-ui, system-ui, sans-serif;

  --bg-color: #050402;
  --text-color: #faad00;
  --projects-text-color: #e44a66;

  --color-primary-900: #060607;
  --color-primary-800: #141618;
  --color-primary-700: #23262a;
  --color-primary-600: #2e3338;
  --color-primary-500: #4f5660;
  --color-primary-400: #747f8d;
  --color-primary-300: #9099a4;
  --color-primary-200: #c7ccd1;
  --color-primary-150: #f6f7f8;
  --color-primary-100: #ffffff;

  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-black: 800;

  --unit: 1rem;
  --wrap-gap: 2rem;

  --transition-swhoosh: cubic-bezier(0.19, 1, 0.22, 1) 1s;

  @include md {
    --wrap-gap: 3rem;
  }

  @include lg {
    --wrap-gap: 4rem;
  }

  @include xl {
    --wrap-gap: 6rem;
  }
}
