:root {
  --bg: #050402;
  --text-color: #faad00;
}

html {
  font-family: 'Inter', -system-ui, system-ui, sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -system-ui, system-ui, sans-serif;
  }
}

body {
  background-color: var(--bg);
}
