$rfs-base-value: 1rem;
$rfs-factor: 8;

.container {
  max-width: 48rem;
  margin: 8rem 5rem;
  padding: rfs(2rem);
}

.list {
  margin-top: rfs(6rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list > a {
  font-size: rfs(1.5rem);
  cursor: pointer;
  width: fit-content;
  color: var(--text-color);
}

h1 {
  font-size: rfs(2rem);
  color: var(--text-color);
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    transition: color 0.15s ease-in-out;
  }

  &:active {
    transition: color 0.15s ease-in-out;
  }

  &:focus {
    transition: color 0.15s ease-in-out;
    outline: 1px dotted currentColor;
  }

  &:link,
  &:visited {
    transition: color 0.15s ease-in;
  }
}
